/* Map Section */
.map-section {
    margin-top: 30px;
}

/* Button below the map */
.map-button-section {
    text-align: center;  /* Center the button */
    margin-top: 20px;  /* Space between the map and the button */
}

button {
    padding: 10px 20px;
    background-color: #006f6d;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #f1c232;  /* Soft gold on hover */
}
